---
import {Button} from "@nextui-org/react";
---
<div class="hero columns-2">
  <div>
    <div class="hero__content">
      <h1 class="hero__title">Welcome to Astro</h1>
      <p class="hero__description">The best way to build modern websites</p>
      <Button color="primary" client:visible>Get Started</Button>
    </div>
  </div>
  <div>
    <img src="https://placehold.co/600x400" alt="Hero image" class="hero__image" />
  </div>
</div>

<style lang="scss">

</style>