---
import {Button} from "@nextui-org/react";
---
<div class="hero columns-2">
  <div>
    <div class="hero__content flex h-full flex-col justify-center gap-4 md:items-start">
      <h2 class="hero__title">Concise Heading
        that Describes the benefit of your product</h2>
      <p class="hero__description text-foreground text-center md:text-left">Descriptive content to describe <strong>what</strong> the product is.</p>
      <Button color="primary" client:visible>Get Started</Button>
    </div>
  </div>
  <div>
    <img src="https://placehold.co/600x600" alt="Hero image" class="hero__image" />
  </div>
</div>

<style lang="scss">
.hero {
  &__title {
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: -.025em;
    font-weight: 800;
  }
  &__description {
    line-height: 2rem;
  }
}
</style>