---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import Hero from '../components/Hero/Hero.astro';

---

<Layout title="This Is A Test" >
	<Header />
	
	<main class="container mx-auto">
		<section class="section">
			<Hero />
		</section>

		<section class="section">
			<h1>This Is <span class="text-gradient">Astro</span></h1>
		</section>

		<section id="features" class="section">
			<h1>Features</h1>
		</section>

		<section id="pricing" class="section">
			<h1>Pricing</h1>
		</section>

		<section id="customers" class="section">
			<h1>Customers</h1>
		</section>
	</main>
</Layout>

<style lang="scss">
	main {
  padding-top: 64px;
}
.section {
	width: 1000px;
	margin: auto;
}
</style>
