---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import Hero from '../components/Hero/Hero.astro';
import TourVideo from '../components/Product/TourVideo';
import SectionHeader from '../components/Text/SectionHeader';
import CardBasic from '../components/Card/CardBasic';
import CardBlurred from '../components/Card/CardBlurred';
import Accordion from '../components/Accordion/Accordion.astro';
import PriceComparison from '../components/PriceComparison/PriceComparison.astro';
import SignUpForm from '../components/Form/SignUpForm'
import Footer from '../components/Footer/Footer.astro';

import {Button, Spacer} from "@nextui-org/react";

---

<Layout title="This Is A Test" >
	<Header />
	
	<main class="container mx-auto">
		<section class="section">
			<Hero />
		</section>

		<section class="section">
			<TourVideo />
		</section>

		<section id="features" class="section">
			<SectionHeader title="Does this describe you?" />
			<p class="text-base text-center px-40">To get people thinking about converting, we need to show them how their current way of doing things is causing them pain. We'll use words that stir up emotions and make visitors ask themselves: "How can I make this better?"</p>
		</section>

		<section id="social-proof" class="section">
			<SectionHeader title="Don't just take our word for it" />
			<Spacer y={8} />
			<div class="columns-3 gap-8">
				<CardBlurred />
				<CardBlurred />
				<CardBlurred />	
			</div>
		</section>	

		<section id="benefits" class="bg-[#ffffff] rounded-lg section-margin">
			<div class="section ">
			<SectionHeader title="Title to describe the benefit with your product again" />
			<p class="text-base text-center px-40">Subtitle to describe the solution to the users pain points again.</p>
				<Spacer y={4} />
				<div class="center">
					<Button color="primary" size="lg" client:visible>Sign Up</Button>
				</div>
				<Spacer y={12} />
				<div class="columns-2 p-4 ">
					<div>
						<Accordion client:visible />
					</div>
					<div>
						<img src="https://placehold.co/600x600" alt="Hero image" class="hero__image" />
					</div>
				</div>
			</div>
		</section>

		<section id="features" class="section">
			<SectionHeader title="Features" />
			<p class="text-base text-center px-40">Subtitle about the features</p>
			<Spacer y={8} />
			<div class="columns-2">
				<CardBasic client:visible />
				<CardBasic client:visible />
				<CardBasic client:visible />
				<CardBasic client:visible />
			</div>
		</section>

		<section id="pricing" class="section">
				<SectionHeader title="Title about the benefit of your pricing" />
				<p class="text-base text-center px-40">
					Text to encourage users to find the correct plan.<br />
					You can for example promote a free tier here.
				</p>
				<Spacer y={16} />
				<PriceComparison />
		</section>

		<section id="faq" class="bg-[#ffffff] rounded-lg">
			<div class="section">
			  <SectionHeader title="FAQ" />
				<Accordion />
		  </div>
		</section>

		<section id="signup" class="section">
			<SectionHeader title="Title to describe the benefit with your product again" />
			<p class="text-base text-center px-40">Subtitle to describe the solution to the users pain points again.</p>
			<SignUpForm />
		</section>
	</main>
	<Footer />
</Layout>

<style lang="scss">
	body, html {
		background: rgb(213,216,226);
		background: linear-gradient(138deg, rgba(213,216,226,1) 0%, rgba(200,200,232,1) 47%, rgba(148,194,203,1) 100%);
	}
	main {
  padding-top: 64px;
}
.section {
	width: 1000px;
	margin: auto;
}
.section-margin {
	margin: 70px 0;
}
</style>
