---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import Hero from '../components/Hero/Hero.astro';
import TourVideo from '../components/Product/TourVideo';
import SectionHeader from '../components/Text/SectionHeader';
import CardBlurred from '../components/Card/CardBlurred';

import {Spacer} from "@nextui-org/react";

---

<Layout title="This Is A Test" >
	<Header />
	
	<main class="container mx-auto">
		<section class="section">
			<Hero />
		</section>

		<section class="section">
			<TourVideo />
		</section>

		<section id="features" class="section">
			<SectionHeader title="Does this describe you?" />
			<p class="text-base text-center px-40">To get people thinking about converting, we need to show them how their current way of doing things is causing them pain. We'll use words that stir up emotions and make visitors ask themselves: "How can I make this better?"</p>
		</section>

		<section id="social-proof" class="section">
			<SectionHeader title="Don't just take our word for it" />
			<Spacer />
			<div class="columns-3">
				<CardBlurred />
				<CardBlurred />
				<CardBlurred />	
			</div>
		</section>	

		<section id="pricing" class="section">
			<h1>Pricing</h1>
		</section>

		<section id="customers" class="section">
			<h1>Customers</h1>
		</section>
	</main>
</Layout>

<style lang="scss">
	main {
  padding-top: 64px;
}
.section {
	width: 1000px;
	margin: auto;
}
</style>
